
@media screen and (max-width: 450px) {
	.clackboard {
		width: 100%;
	}
	.breakalarm {
		width: 100%;
	}
	.future {
		width: 100%;
	}
}}


@media screen and (min-width: 451px) {
	.clackboard {
		width: 50%;
	}
	.breakalarm {
		width: 50%;
	}
	.future {
		width: 100%;
	}
}

@media screen and (min-width: 800px) {
	.clackboard {
		width: 33%;
	}
	.breakalarm {
		width: 33%;
	}
	.future {
		width: 33%;
	}
}
