body {
	font-family: 'Lato', sans-serif;
	color: #747704;
	font-weight: 300;
}

img,
embed,
object,
video {
	max-width: 100%;
}

.row {
	width: 900px;
	max-width: 100%;
	margin: 0 auto 0 auto;
}

.text-muted {
	color: #bcbbbb;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size:60px;
}

.title-logo {
	margin: 30px 0 0 10px;
	width: 90px;
	height: 90px;
}

.project-url {
	text-decoration: initial;
	font-size: medium;
	color: #747704;
}

.project-name {
	text-align: center;
	margin-bottom: 1px;
	font-weight: 300;
}

.hr-medium {
	border: 1px solid #bcbbbb;
}